// breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// max-width
$sm-mw: 540px;
$md-mw: 720px;
$lg-mw: 960px;
$xl-mw: 1140px;

// fonts
$base-font: 'Open Sans', sans-serif;

// colors
$primary: #333;
$secondary: #fff;